<!-- <nav>
    <ul> -->
     <!-- <li>
         <div class="user-profile-image">
             <img src="" alt="">
         </div>
     </li> -->
     <!-- <li>
         <a routerLink="/dashboard">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Dashboard
         </a>
     </li> -->
     <!-- <li>
         <a routerLink="/dashboard/sform">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Registration form
         </a>
     </li> -->
     <!-- <li>
         <a routerLink="/dashboard/scontact">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Contact us
         </a>
     </li> -->
     <!-- <li>
        <a routerLink="/dashboard/shelp">
            <div class="icon">
                <i class="bi bi-grid-fill"></i>
            </div>
            Help
        </a>
    </li> -->
    <!-- <li>
        <a routerLink="/dashboard/smail">
            <div class="icon">
                <i class="bi bi-grid-fill"></i>
            </div>
            Mail
        </a>
    </li> -->
     <!-- <li>
         <a data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Logout
         </a>
     </li>
    </ul>
 </nav> -->





<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="navbar.component.css">
  </head>
  <body>
    <aside class="sidebar">

      <div class="logo">
        <!-- <span class="material-symbols-outlined">person</span> -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/ICT_Academy_Kerala.webp/611px-ICT_Academy_Kerala.webp.png" alt="logo">
        <h2>ICTAK Academy</h2>
      </div>

      <ul class="links">
        <h4>Student Dashboard</h4>

        <li>
          <span class="material-symbols-outlined">dashboard</span>
          <a routerLink="/dashboard">
            Home
         </a>
        </li>
                                  
        <li>
          <span class="material-symbols-outlined">description</span>
          <a routerLink="/dashboard/sform">
             Registration form
         </a>
        </li>
        
        <li>
          <span class="material-symbols-outlined">phone</span>
          <a routerLink="/dashboard/scontact">
             Contact us
         </a>
        </li>

        <li>
          <span class="material-symbols-outlined">help</span>
          <a routerLink="/dashboard/shelp">
            About Us
        </a>
        </li>

        <li>
          <span class="material-symbols-outlined">mail</span>
          <a routerLink="/dashboard/smail">
            Mail
        </a>
        </li>
        
        <hr>
        <li class="logout-link">
          <span class="material-symbols-outlined">logout</span>
           <a data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="">
             Logout
        </a>
        </li>


      </ul>
    </aside>
  </body>
</html> 

