<div class="box">

  <div class=" shadow-lg">

    <div class="login-container">
      <form [formGroup]="loginForm">
        <div class="row">

          <div class="form-group">
            <h4>LOGIN</h4>
            <label for="email" class="form-label">Email :</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched"
              class="text-danger">Email is required!</div>
          </div>

          <div class="form-group">
            <label for="password" class="form-label">Password :</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
              class="text-danger">Password is required!</div>

          </div>
          <button type="submit" (click)="submit()" [disabled]="!this.loginForm.valid">
            Login
          </button>
        </div>

      </form>
    </div>

      


  </div>

</div>