<nav>
    <ul>
     <li>
         <div class="user-profile-image">
             <img src="" alt="">
         </div>
     </li>
     <li>
         <a routerLink="/admin-dashboard">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Admin Dashboard
         </a>
     </li>
     <li>
         <a routerLink="/admin-dashboard/batches">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Batches
            
         </a>
     </li>
     <li>
         <a routerLink="/admin-dashboard/sendemail">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Send email
         </a>
     </li>
     <li>
         <a data-bs-toggle="modal" data-bs-target="#exampleModal">
             <div class="icon">
                 <i class="bi bi-grid-fill"></i>
             </div>
             Logout
         </a>
     </li>
    </ul>
 </nav>



